.add__button {
    border: none;
    padding: 0;
    min-width: 50px;
    background-image: url('../../../images/add.svg');
    background-size: contain;
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.add__button:hover {
    cursor: pointer;
}