.template__button-done {
    border: none;
    min-width: 30px;
    background: url('../../../images/Done.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
}

.template__button-done:hover {
    cursor: pointer;
    animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
 
	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
 
	80% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}