.add__input {
    min-width: 700px;
    max-height: 60px;
    padding: 8px;
    border: none;
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .add__input {
      min-width: 315px;
    }
};