.header__title {
    font-family: 'Inter';
    margin: 0;
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 900;
    font-stretch: 200%;
    text-transform: uppercase;
    color:#18171C;
    text-shadow: 1px 5px 5px gray;
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .header__title {
        font-size: 36px;
        letter-spacing: 4px;
        font-weight: 900;
    }
};